<div class="header">
  <div class="header-left">
    <h1>Logo</h1>
  </div>
  <div class="header-right">
    <h3 class="header-marketing-tools-type">
      Lease Building Options
    </h3>
    <h2>
      PREPARED FOR Consultant
    </h2>
  </div>
</div>